<a href="https://colab.research.google.com/github/NestY73/Algorithms_Data_Analysis/blob/master/task_4_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Методы обучения без учителя.
## Методы кластеризации

В этом задании вам необходимо будет применить 3 метода кластеризации к данным.

Для каждого метода будет свой вопрос, ответ на который надо будет передать на портал

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

%matplotlib inline

## Подготовка данных

Для начала загрузим данные из этой [статьи](https://fivethirtyeight.com/features/weather-forecast-news-app-habits/)

In [2]:
df = pd.read_csv('./weather-check.csv')

In [3]:
df.head()

   RespondentID  ...        US Region
0    3887201482  ...   South Atlantic
1    3887159451  ...                -
2    3887152228  ...  Middle Atlantic
3    3887145426  ...                -
4    3887021873  ...  Middle Atlantic

[5 rows x 9 columns]

Они представляют из сбея результат небольшого опроса жителей США на тему того, как они проверяют прогноз прогоды. Кроме того в опроснике есть пункты, связанные с соц-дем информацией: возраст, пол, заработок, регион. 

Все признаки, в данном случае, являются категориальными.

Для начала удалим столбец с идентификатором респондентов и столбец с открытым вопросом.

In [4]:
df = df.drop(labels=df.columns[0], axis=1)
df = df.drop(labels=df.columns[2], axis=1)

In [5]:
df.head()

  Do you typically check a daily weather report?  ...        US Region
0                                            Yes  ...   South Atlantic
1                                            Yes  ...                -
2                                            Yes  ...  Middle Atlantic
3                                            Yes  ...                -
4                                            Yes  ...  Middle Atlantic

[5 rows x 7 columns]

Далее выполним перекодировку признаков с помощью метода `pd.get_dummies`. 

Конечно, для таких признаков как "заработок" или "регион проживания" можно выполнить более интеллектуальное преобразование (например учитывающее, что ответ "50,000 to  74,999" ближе к "80,000 to 99,999", чем к "150,000 to 174,999"), но для первого подхода мы этого делать не будем.

In [6]:
df_dummy = pd.get_dummies(df)

In [8]:
X = df_dummy.values
X

array([[0, 1, 0, ..., 1, 0, 0],
       [0, 1, 0, ..., 0, 0, 0],
       [0, 1, 0, ..., 0, 0, 0],
       ...,
       [0, 1, 0, ..., 0, 0, 0],
       [1, 0, 1, ..., 0, 0, 0],
       [0, 1, 1, ..., 0, 0, 0]], dtype=uint8)

## Kmeans

Обычно, результаты kmeans на данных, полностью состоящим из категориальных признаков, получаются не такими хорошими.

* Обучите метод к-средних с `n_clusters` от 2 до 20 и `random_state=123`
* Создайте массив `scores`
* Для каждого запуска вычислите `silhouette_score` полученной кластеризации
* В переменную `answer1` сохраните значение наибольшего значения из `scores` c точностью до сотых

In [9]:
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score

### *РЕШЕНИЕ*

In [46]:
scores=[]
for k in range(2,21):
  kmeans = KMeans(n_clusters=k, random_state=123)
  preds = kmeans.fit_predict(X)
  
  score = silhouette_score(X, preds, metric='euclidean')
  print("For n_clusters = {}, silhouette score is {})".format(k, score))

For n_clusters = 2, silhouette score is 0.1002864128782305)
For n_clusters = 3, silhouette score is 0.09920088935026475)
For n_clusters = 4, silhouette score is 0.0746796877850485)
For n_clusters = 5, silhouette score is 0.07491743301394561)
For n_clusters = 6, silhouette score is 0.07869785568966982)
For n_clusters = 7, silhouette score is 0.08446868973633206)
For n_clusters = 8, silhouette score is 0.08389226369629658)
For n_clusters = 9, silhouette score is 0.09451887876780597)
For n_clusters = 10, silhouette score is 0.08266799506510034)
For n_clusters = 11, silhouette score is 0.09152435149475281)
For n_clusters = 12, silhouette score is 0.09399945157985837)
For n_clusters = 13, silhouette score is 0.08694070029493774)
For n_clusters = 14, silhouette score is 0.08694689169771751)
For n_clusters = 15, silhouette score is 0.09116875200745587)
For n_clusters = 16, silhouette score is 0.09127423977908083)
For n_clusters = 17, silhouette score is 0.09445328116270414)
For n_clusters = 18, silhouette score is 0.09783838944367566)
For n_clusters = 19, silhouette score is 0.09881756385018525)
For n_clusters = 20, silhouette score is 0.10210623529244543)

## Агломеративная кластеризация

Попробуем применить агломеративную кластеризацию

* Прогоните метод с параметрами `method='average'`, `metric='cosine'`
* Визуализируйте полученную дендрограмму
* Выделите 5 кластеров из полученной иерархии
* В переменную `answer2` запишите долю мужчин во втором по величине кластере с точностью до сотых

In [ ]:
from scipy.cluster.hierarchy import fcluster, dendrogram, linkage

### *РЕШЕНИЕ*

## DBSCAN

Возможно вы уже успели заметить, что часть респондентов практически не отвечали на заданные вопросы - то есть в соответствующих графах стоит символ "-". "Молчунами" будем называть участников опроса, которые не ответили ни на один вопрос. Таких респондентов можно сразу исключить из дальнейших исследований.

* Переберите значение параметра `eps` в интервале [0.1, 1] с шагом 0.1
* Остальные параметрамы установите следующим образом `min_samples=20`, `metric='cosine'`
* В переменную `answer3` запишите значение `eps` (c точностью до **сотых**) при котором алгоритм выделит всех "молчунов" в отдельный кластер с выбросами

In [ ]:
from sklearn.cluster import DBSCAN

### *РЕШЕНИЕ*

# Строка с ответами

In [ ]:
print('kmeans {:.2f}\nagg {:.2f}\ndbscan {:.2f}'.format(answer1, answer2, answer3))